<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="jsiFindFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
      <jsiFindFile.Properties.Settings>
            <setting name="textEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="lastRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="lastInclude" serializeAs="String">
                <value />
            </setting>
            <setting name="lastExclude" serializeAs="String">
                <value />
            </setting>
            <setting name="lastNeedle" serializeAs="String">
                <value />
            </setting>
        </jsiFindFile.Properties.Settings>
    
    </userSettings>
</configuration>